In [1]:
# project: p12
# submitter: wchen394
# partner: zyu293
# hours: 2

In [2]:
import os, json, csv
from collections import namedtuple
from operator import attrgetter
import copy 
import matplotlib
import pandas as pd
from pandas import DataFrame, Series
import requests   
from bs4 import BeautifulSoup
from math import radians, cos, sin, asin, sqrt
import math

In [3]:
def download(filename, url):
    # We do not download again if the file already exists
    if os.path.exists(filename):
        return (str(filename) + " already exists!")

    # TODO: Write the code to download the file from URL
    # and save it in `filename`
    r = requests.get(url)
    r.raise_for_status
    filename = open(filename, "w", encoding="utf-8")
    filename.write(r.text)
    filename.close()
    return (str(filename) + " created!")

In [4]:
DataFrame([[1,2], [3,4]])

   0  1
0  1  2
1  3  4

In [5]:
# option 2
DataFrame([{"x":1, "y":2},
           {"x":3, "y":4}])

# option 3
DataFrame({"x":[1,3],
           "y":[2,4]})

   x  y
0  1  2
1  3  4

In [6]:
# option 4
DataFrame({"x":{"A":1,"B":3},
           "y":{"A":2,"B":4}})

   x  y
A  1  2
B  3  4

In [7]:
download("countries.json", "https://raw.githubusercontent.com/msyamkumar/cs220-s21-projects/master/p12/countries.json")

'countries.json already exists!'

In [8]:
countries = pd.read_json('countries.json')

In [9]:
#Q1: How many countries do we have in our dataset?
len(countries)

174

In [10]:
#Q2: what is the total population across all the countries in our dataset?
countries["population"].sum()

6261901793

In [11]:
download("capitals.json", "https://raw.githubusercontent.com/msyamkumar/cs220-s21-projects/master/p12/capitals.json")

'capitals.json already exists!'

In [12]:
capitals = pd.read_json('capitals.json')

In [13]:
capitals.head()

       country       capital   latitude  longitude
0  Afghanistan         Kabul  34.516667  69.183333
1      Albania        Tirana  41.316667  19.816667
2      Algeria       Algiers  36.750000   3.050000
3     Anguilla    The Valley  18.216667 -63.050000
4    Argentina  Buenos Aires -34.583333 -58.666667

In [14]:
#Q3: What are the capital names in capitals.json?
capital_names = list(capitals["capital"])
capital_names = sorted(capital_names)
capital_names

['Abu Dhabi',
 'Abuja',
 'Accra',
 'Addis Ababa',
 'Algiers',
 'Amman',
 'Amsterdam',
 'Ankara',
 'Antananarivo',
 'Apia',
 'Ashgabat',
 'Asmara',
 'Astana',
 'Asuncion',
 'Athens',
 'Baghdad',
 'Baku',
 'Bamako',
 'Bangkok',
 'Beijing',
 'Beirut',
 'Belmopan',
 'Berlin',
 'Bern',
 'Bishkek',
 'Bissau',
 'Bogota',
 'Brasilia',
 'Bridgetown',
 'Brussels',
 'Bucharest',
 'Budapest',
 'Buenos Aires',
 'Bujumbura',
 'Cairo',
 'Canberra',
 'Caracas',
 'Castries',
 'Chisinau',
 'Colombo',
 'Conakry',
 'Copenhagen',
 'Dakar',
 'Damascus',
 'Dar es Salaam',
 'Dhaka',
 'Djibouti',
 'Doha',
 'Dublin',
 'Dushanbe',
 'Freetown',
 'Gaborone',
 'George Town',
 'Georgetown',
 'Guatemala City',
 'Hagatna',
 'Hamilton',
 'Hanoi',
 'Harare',
 'Havana',
 'Helsinki',
 'Islamabad',
 'Jakarta',
 'Jamestown',
 'Jerusalem',
 'Kabul',
 'Kampala',
 'Kathmandu',
 'Khartoum',
 'Kigali',
 'Kingston',
 'Kingstown',
 'Kuala Lumpur',
 'Kuwait City',
 'Kyiv',
 'La Paz',
 'Libreville',
 'Lilongwe',
 'Lima',
 'Lisbon',
 'Ljubljana',
 'Lome',
 'London',
 'Lusaka',
 'Luxembourg',
 'Madrid',
 'Majuro',
 'Malabo',
 'Male',
 'Managua',
 'Manama',
 'Manila',
 'Maputo',
 'Maseru',
 'Mbabane',
 'Melekeok',
 'Mexico City',
 'Minsk',
 'Mogadishu',
 'Monaco',
 'Monrovia',
 'Montevideo',
 'Moroni',
 'Moscow',
 'Muscat',
 'Nairobi',
 'New Delhi',
 'Niamey',
 'Nouakchott',
 'Noumea',
 'Nuku’alofa',
 'N’Djamena',
 'Oranjestad',
 'Oslo',
 'Ottawa',
 'Ouagadougou',
 'Panama City',
 'Papeete',
 'Paramaribo',
 'Paris',
 'Phnom Penh',
 'Port Louis',
 'Port Moresby',
 'Port-Vila',
 'Port-au-Prince',
 'Porto-Novo',
 'Prague',
 'Praia',
 'Pretoria',
 'Quito',
 'Rabat',
 'Reykjavik',
 'Riga',
 'Riyadh',
 'Rome',
 'Roseau',
 'Saint George’s',
 'San Jose',
 'San Juan',
 'San Marino',
 'San Salvador',
 'Sanaa',
 'Santiago',
 'Santo Domingo',
 'Singapore',
 'Sofia',
 'Stockholm',
 'Suva',
 'Taipei',
 'Tallinn',
 'Tashkent',
 'Tbilisi',
 'Tegucigalpa',
 'Tehran',
 'The Valley',
 'Thimphu',
 'Tirana',
 'Tokyo',
 'Tripoli',
 'Tunis',
 'Ulaanbaatar',
 'Vaduz',
 'Valletta',
 'Victoria',
 'Vienna',
 'Vientiane',
 'Vilnius',
 'Warsaw',
 'Washington, D.C.',
 'Wellington',
 'Windhoek',
 'Yaounde',
 'Yerevan',
 'Zagreb']

In [15]:
#Q4: What is the capital of Sweden?
capitals[capitals['country'] == "Sweden"]["capital"].iloc[0]

'Stockholm'

In [16]:
#Q5: Which country's capital is Santiago?
capitals[capitals['capital'] == "Santiago"]["country"].iloc[0]

'Chile'

In [17]:
#Q6: Which 7 countries have the southern-most capitals?
data_6 = capitals.sort_values("latitude").head(7).values.tolist()
res=[]
for i in data_6:
    res.append(i[0])
res

['New Zealand',
 'Australia',
 'Uruguay',
 'Argentina',
 'Chile',
 'Lesotho',
 'Swaziland']

In [18]:
#Q7: Which 10 countries have the northern-most capitals?
data_7 = capitals.sort_values("latitude",ascending=False).head(10).values.tolist()
res=[]
for i in data_7:
    res.append(i[0])
res

['Iceland',
 'Finland',
 'Norway',
 'Estonia',
 'Sweden',
 'Latvia',
 'Russia',
 'Denmark',
 'Lithuania',
 'Belarus']

In [19]:
#Q8: What is the largest land-locked country in South America?
filter1 = countries[countries["coastline"]==0]
filter1[filter1["continent"]=="South America"].sort_values("area",ascending=False).head(1)["country"].iloc[0]

'Bolivia'

In [20]:
#Q9: What is the largest coastal country in Africa?
filter1 = countries[countries["coastline"]!=0]
filter1[filter1["continent"]=="Africa"].sort_values("area",ascending=False).head(1)["country"].iloc[0]

'Sudan'

In [21]:
#Q10: What is coastal country with the least population in Asia?
filter1 = countries[countries["coastline"]!=0]
filter1[filter1["continent"]=="Asia"].sort_values("population").head(1)["country"].iloc[0]

'Maldives'

In [22]:
#cite from https://stackoverflow.com/questions/4913349/haversine-formula-in-python-bearing-and-distance-between-two-gps-points
def haversine(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])

    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    r = 3956 # Radius of earth in kilometers. Use 3956 for miles
    return c * r

In [23]:
#Q11: What is the distance between Camp Randall Stadium and the Wisconsin State Capital?
haversine(-89.411893,43.070231,-89.384113,43.074645)

1.433899492072933

In [24]:
#Q12: What is the distance between Belgium and France?
la1 = capitals[capitals["country"]=="Belgium"]["latitude"].iloc[0]
lo1 = capitals[capitals["country"]=="Belgium"]["longitude"].iloc[0]
la2 = capitals[capitals["country"]=="France"]["latitude"].iloc[0]
lo2 = capitals[capitals["country"]=="France"]["longitude"].iloc[0]
haversine(lo1,la1,lo2,la2)

162.36419849726036

In [25]:
def get_distance_df(df):
    tmp = {}
    for i in df["country"]:
        cur ={}    
        for j in df["country"]:
        
            value = 0
            if df[df["country"]==i]["country"].iloc[0] == df[df["country"]==j]["country"].iloc[0]:
                value = math.nan
            else:
                value = haversine(capitals[capitals["country"]==i]["longitude"],capitals[capitals["country"]==i]["latitude"],capitals[capitals["country"]==j]["longitude"],capitals[capitals["country"]==j]["latitude"])
            cur[df[df["country"]==j]["country"].iloc[0]]=value
            tmp[df[df["country"]==i]["country"].iloc[0]]=cur
#     print(tmp)
    return DataFrame(tmp)

In [26]:
#Q13: What are the distances between Belgium, France and Spain?
df = countries[(countries["country"]=="Belgium") | (countries["country"]=="France") | (countries["country"]=="Spain")]
get_distance_df(df)

              Spain     Belgium      France
Spain           NaN  816.692445  654.572177
Belgium  816.692445         NaN  162.364198
France   654.572177  162.364198         NaN

In [27]:
#Q14: What is the distance between every pair of countries in the continent Australia?
Australia = countries[countries["continent"]=="Australia"]
q14_distance = get_distance_df(Australia)
q14_distance

,Marshall Islands,French Polynesia,New Zealand,Vanuatu,Palau,Papua New Guinea,Guam,Samoa,New Caledonia,Australia,Fiji,Tonga
Marshall Islands,NaN,3159.856137,3348.725378,1727.328621,2516.301728,2019.144119,1861.584428,1849.150692,2054.905160,3263.901948,1806.972599,2151.129410
French Polynesia,3159.856137,NaN,2668.807328,2765.339382,5447.018761,4265.757856,4961.131713,1496.953816,2864.497308,3920.570216,2102.135722,1686.539411
New Zealand,3348.725378,2668.807328,NaN,1671.641167,4218.188412,2767.607095,4239.314912,2062.548020,1400.483623,1445.147895,1613.916992,1510.219450
Vanuatu,1727.328621,2765.339382,1671.641167,NaN,2882.041892,1527.495923,2687.395771,1349.904435,335.602971,1687.810709,663.967196,1098.016273
Palau,2516.301728,5447.018761,4218.188412,2882.041892,NaN,1453.306058,800.243081,3956.305436,2974.892838,3099.023227,3468.037102,3931.843110
Papua New Guinea,2019.144119,4265.757856,2767.607095,1527.495923,1453.306058,NaN,1591.171595,2789.123270,1552.708901,1786.749660,2174.712829,2623.742354
Guam,1861.584428,4961.131713,4239.314912,2687.395771,800.243081,1591.171595,NaN,3520.883355,2871.868601,3377.103870,3165.570014,3617.512808
Samoa,1849.150692,1496.953816,2062.548020,1349.904435,3956.305436,2789.123270,3520.883355,NaN,1542.152644,2840.091065,716.316054,553.393188
New Caledonia,2054.905160,2864.497308,1400.483623,335.602971,2974.892838,1552.708901,2871.868601,1542.152644,NaN,1375.924712,825.890876,1179.069567
Australia,3263.901948,3920.570216,1445.147895,1687.810709,3099.023227,1786.749660,3377.103870,2840.091065,1375.924712,NaN,2145.768971,2362.766922
Fiji,1806.972599,2102.135722,1613.916992,663.967196,3468.037102,2174.712829,3165.570014,716.316054,825.890876,2145.768971,NaN,463.843872
Tonga,2151.129410,1686.539411,1510.219450,1098.016273,3931.843110,2623.742354,3617.512808,553.393188,1179.069567,2362.766922,463.843872,NaN

In [28]:
Australia

,area,birth-rate,coastline,continent,country,death-rate,gdp-per-capita,infant-mortality,literacy,net-migration,phones,population,region
4,11854,33.05,3.12,Australia,Marshall Islands,4.78,1600,29.45,"93,7",-6.04,"91,2",60422,OCEANIA
25,4167,16.68,60.60,Australia,French Polynesia,4.69,17500,8.44,"98,0",2.94,"194,5",274578,OCEANIA
53,268680,13.76,5.63,Australia,New Zealand,7.53,21600,5.85,"99,0",4.05,"441,7",4076140,OCEANIA
56,12200,22.72,20.72,Australia,Vanuatu,7.82,2900,55.16,"53,0",0.00,"32,6",208869,OCEANIA
58,458,18.03,331.66,Australia,Palau,6.80,9000,14.84,"92,0",2.85,"325,6",20579,OCEANIA
74,462840,29.36,1.11,Australia,Papua New Guinea,7.25,2200,51.45,"64,6",0.00,"10,9",5670544,OCEANIA
110,541,18.79,23.20,Australia,Guam,4.48,21000,6.94,"99,0",0.00,"492,0",171019,OCEANIA
117,2944,16.43,13.69,Australia,Samoa,6.62,5600,27.71,"99,7",-11.70,"75,2",176908,OCEANIA
137,19060,18.11,11.83,Australia,New Caledonia,5.69,15000,7.72,"91,0",0.00,"252,2",219246,OCEANIA
149,7686850,12.14,0.34,Australia,Australia,7.51,29000,4.69,"100,0",3.98,"565,5",20264082,OCEANIA
160,18270,22.55,6.18,Australia,Fiji,5.65,5800,12.62,"93,7",-3.14,"112,6",905949,OCEANIA
171,748,25.37,56.02,Australia,Tonga,5.28,2200,12.62,"98,5",0.00,"97,7",114689,OCEANIA

In [29]:
#Q15: What is the most central country in the continent Australia?
q14_distance.mean().sort_values().index[0]

'Vanuatu'

In [30]:
#Q16: What is the least central country in the continent Australia?
q14_distance.mean().sort_values(ascending=False).index[0]

'French Polynesia'

In [31]:
#Q17: How close is each country in the continent Australia to its nearest neighbor?
value = q14_distance.min()
place = q14_distance.idxmin()
res = {}
for i in range(2):
    for j in range(len(q14_distance)):
        cur = {}
        cur["nearest"]=place[j]
        cur["distance"]=value[j]
        res[Australia["country"].iloc[j]] = cur

df = DataFrame(res)
df = df.T
df

                        nearest distance
Marshall Islands        Vanuatu  1727.33
French Polynesia          Samoa  1496.95
New Zealand       New Caledonia  1400.48
Vanuatu           New Caledonia  335.603
Palau                      Guam  800.243
Papua New Guinea          Palau  1453.31
Guam                      Palau  800.243
Samoa                     Tonga  553.393
New Caledonia           Vanuatu  335.603
Australia         New Caledonia  1375.92
Fiji                      Tonga  463.844
Tonga                      Fiji  463.844

In [32]:
#Q18: How far is each country in the Australia continent to its furthest neighbor?
value = q14_distance.max()
place = q14_distance.idxmax()
res = {}
for i in range(len(q14_distance)):
    cur = {}
    cur["furthest"]=place[i]
    cur["distance"]=value[i]
    res[Australia["country"].iloc[i]] = cur

df = DataFrame(res)
df = df.T
df

                          furthest distance
Marshall Islands       New Zealand  3348.73
French Polynesia             Palau  5447.02
New Zealand                   Guam  4239.31
Vanuatu                      Palau  2882.04
Palau             French Polynesia  5447.02
Papua New Guinea  French Polynesia  4265.76
Guam              French Polynesia  4961.13
Samoa                        Palau  3956.31
New Caledonia                Palau  2974.89
Australia         French Polynesia  3920.57
Fiji                         Palau  3468.04
Tonga                        Palau  3931.84

In [33]:
#Q19: For birth-rate and death-rate, what are various summary statistics (e.g., mean, max, standard deviation, etc.)?
countries.describe()

,area,birth-rate,coastline,death-rate,gdp-per-capita,infant-mortality,net-migration,population
count,1.740000e+02,174.000000,174.000000,174.000000,174.000000,174.000000,174.000000,1.740000e+02
mean,7.308669e+05,22.463851,10.895000,9.625172,9829.885057,37.749425,0.124425,3.598794e+07
std,2.011115e+06,11.278992,38.347494,5.187143,10624.354342,35.242398,4.479222,1.337194e+08
min,2.000000e+00,8.250000,0.000000,2.410000,500.000000,2.290000,-13.920000,7.502000e+03
25%,2.777000e+04,12.597500,0.090000,6.027500,1900.000000,8.540000,-0.907500,2.027785e+06
50%,1.375200e+05,20.010000,0.450000,8.230000,5250.000000,23.920000,0.000000,7.454650e+06
75%,5.244775e+05,29.860000,3.165000,11.715000,14725.000000,61.732500,0.815000,2.287946e+07
max,1.707520e+07,50.730000,331.660000,29.740000,55100.000000,163.070000,23.060000,1.313974e+09

In [34]:
def get_valid_countries():
    return capitals["country"].tolist()
def get_data():
    country_list = get_valid_countries()
    download('capitals.html', 'https://raw.githubusercontent.com/msyamkumar/cs220-s21-projects/master/p12/techslides-snapshot.html')
    f = open("capitals.html", encoding="utf-8")
    data = f.read()
    f.close()
    doc = BeautifulSoup(data, "html.parser")
    header = []
    for e in doc.find_all("tr")[0].find_all("td"):
        if e not in ('Country Code', 'Continent Name'):
            header.append(e.get_text())
    row_data = []
    for row in doc.find_all("tr")[1:]:
        single = []
        if row.find_all("td")[0].get_text() not in country_list:
            continue
        for e in row.find_all("td"):
            single.append(e.get_text())
        row_data.append(single)
    res = []
    header = []
    header.append("country")
    header.append("capital")
    header.append("latitude")
    header.append("longitude")
    for row in row_data:
        dic = {}
        for i in range(len(header)):
            if i in (2,3):
                row[i] = float(row[i])
            dic[header[i]] = row[i]
        res.append(dic)
    return res

In [35]:
#Q20: BeautifulSoup
# my_capitals.json = json.dump(get_data())
dic = get_data()
out_file = open("my_capitals.json", "w")
json.dump(dic, out_file, indent = 6)
out_file.close()
f = open('my_capitals.json', encoding='utf-8')
my_capitals_data = json.load(f)
f.close()
# DataFrame(my_capitals_data).values.tolist()
res =  []
data_20 = DataFrame(my_capitals_data).values.tolist()
# for i in data_20:
#     cur = []
#     ind = 0
#     for j in i:
#         if ind != 0:
#             cur.append(j)
#         ind += 1
#     dic = {}
#     dic[i[0]] = cur
#     res.append(dic)
# res
my_capitals_data

[{'country': 'Afghanistan',
  'capital': 'Kabul',
  'latitude': 34.51666667,
  'longitude': 69.183333},
 {'country': 'Albania',
  'capital': 'Tirana',
  'latitude': 41.31666667,
  'longitude': 19.816667},
 {'country': 'Algeria',
  'capital': 'Algiers',
  'latitude': 36.75,
  'longitude': 3.05},
 {'country': 'Anguilla',
  'capital': 'The Valley',
  'latitude': 18.21666667,
  'longitude': -63.05},
 {'country': 'Argentina',
  'capital': 'Buenos Aires',
  'latitude': -34.58333333,
  'longitude': -58.666667},
 {'country': 'Armenia',
  'capital': 'Yerevan',
  'latitude': 40.16666667,
  'longitude': 44.5},
 {'country': 'Aruba',
  'capital': 'Oranjestad',
  'latitude': 12.51666667,
  'longitude': -70.033333},
 {'country': 'Australia',
  'capital': 'Canberra',
  'latitude': -35.26666667,
  'longitude': 149.133333},
 {'country': 'Austria',
  'capital': 'Vienna',
  'latitude': 48.2,
  'longitude': 16.366667},
 {'country': 'Azerbaijan',
  'capital': 'Baku',
  'latitude': 40.38333333,
  'longitude': 49.866667},
 {'country': 'Bahrain',
  'capital': 'Manama',
  'latitude': 26.23333333,
  'longitude': 50.566667},
 {'country': 'Bangladesh',
  'capital': 'Dhaka',
  'latitude': 23.71666667,
  'longitude': 90.4},
 {'country': 'Barbados',
  'capital': 'Bridgetown',
  'latitude': 13.1,
  'longitude': -59.616667},
 {'country': 'Belarus',
  'capital': 'Minsk',
  'latitude': 53.9,
  'longitude': 27.566667},
 {'country': 'Belgium',
  'capital': 'Brussels',
  'latitude': 50.83333333,
  'longitude': 4.333333},
 {'country': 'Belize',
  'capital': 'Belmopan',
  'latitude': 17.25,
  'longitude': -88.766667},
 {'country': 'Benin',
  'capital': 'Porto-Novo',
  'latitude': 6.483333333,
  'longitude': 2.616667},
 {'country': 'Bermuda',
  'capital': 'Hamilton',
  'latitude': 32.28333333,
  'longitude': -64.783333},
 {'country': 'Bhutan',
  'capital': 'Thimphu',
  'latitude': 27.46666667,
  'longitude': 89.633333},
 {'country': 'Bolivia',
  'capital': 'La Paz',
  'latitude': -16.5,
  'longitude': -68.15},
 {'country': 'Botswana',
  'capital': 'Gaborone',
  'latitude': -24.63333333,
  'longitude': 25.9},
 {'country': 'Brazil',
  'capital': 'Brasilia',
  'latitude': -15.78333333,
  'longitude': -47.916667},
 {'country': 'Bulgaria',
  'capital': 'Sofia',
  'latitude': 42.68333333,
  'longitude': 23.316667},
 {'country': 'Burkina Faso',
  'capital': 'Ouagadougou',
  'latitude': 12.36666667,
  'longitude': -1.516667},
 {'country': 'Burundi',
  'capital': 'Bujumbura',
  'latitude': -3.366666667,
  'longitude': 29.35},
 {'country': 'Cambodia',
  'capital': 'Phnom Penh',
  'latitude': 11.55,
  'longitude': 104.916667},
 {'country': 'Cameroon',
  'capital': 'Yaounde',
  'latitude': 3.866666667,
  'longitude': 11.516667},
 {'country': 'Canada',
  'capital': 'Ottawa',
  'latitude': 45.41666667,
  'longitude': -75.7},
 {'country': 'Cape Verde',
  'capital': 'Praia',
  'latitude': 14.91666667,
  'longitude': -23.516667},
 {'country': 'Cayman Islands',
  'capital': 'George Town',
  'latitude': 19.3,
  'longitude': -81.383333},
 {'country': 'Chad',
  'capital': 'N’Djamena',
  'latitude': 12.1,
  'longitude': 15.033333},
 {'country': 'Chile',
  'capital': 'Santiago',
  'latitude': -33.45,
  'longitude': -70.666667},
 {'country': 'China',
  'capital': 'Beijing',
  'latitude': 39.91666667,
  'longitude': 116.383333},
 {'country': 'Colombia',
  'capital': 'Bogota',
  'latitude': 4.6,
  'longitude': -74.083333},
 {'country': 'Comoros',
  'capital': 'Moroni',
  'latitude': -11.7,
  'longitude': 43.233333},
 {'country': 'Costa Rica',
  'capital': 'San Jose',
  'latitude': 9.933333333,
  'longitude': -84.083333},
 {'country': 'Croatia',
  'capital': 'Zagreb',
  'latitude': 45.8,
  'longitude': 16.0},
 {'country': 'Cuba',
  'capital': 'Havana',
  'latitude': 23.11666667,
  'longitude': -82.35},
 {'country': 'Czech Republic',
  'capital': 'Prague',
  'latitude': 50.08333333,
  'longitude': 14.466667},
 {'country': 'Denmark',
  'capital': 'Copenhagen',
  'latitude': 55.66666667,
  'longitude': 12.583333},
 {'country': 'Djibouti',
  'capital': 'Djibouti',
  'latitude': 11.58333333,
  'longitude': 43.15},
 {'country': 'Dominica',
  'capital': 'Roseau',
  'latitude': 15.3,
  'longitude': -61.4},
 {'country': 'Dominican Republic',
  'capital': 'Santo Domingo',
  'latitude': 18.46666667,
  'longitude': -69.9},
 {'country': 'Ecuador',
  'capital': 'Quito',
  'latitude': -0.216666667,
  'longitude': -78.5},
 {'country': 'Egypt',
  'capital': 'Cairo',
  'latitude': 30.05,
  'longitude': 31.25},
 {'country': 'El Salvador',
  'capital': 'San Salvador',
  'latitude': 13.7,
  'longitude': -89.2},
 {'country': 'Equatorial Guinea',
  'capital': 'Malabo',
  'latitude': 3.75,
  'longitude': 8.783333},
 {'country': 'Eritrea',
  'capital': 'Asmara',
  'latitude': 15.33333333,
  'longitude': 38.933333},
 {'country': 'Estonia',
  'capital': 'Tallinn',
  'latitude': 59.43333333,
  'longitude': 24.716667},
 {'country': 'Ethiopia',
  'capital': 'Addis Ababa',
  'latitude': 9.033333333,
  'longitude': 38.7},
 {'country': 'Fiji',
  'capital': 'Suva',
  'latitude': -18.13333333,
  'longitude': 178.416667},
 {'country': 'Finland',
  'capital': 'Helsinki',
  'latitude': 60.16666667,
  'longitude': 24.933333},
 {'country': 'France',
  'capital': 'Paris',
  'latitude': 48.86666667,
  'longitude': 2.333333},
 {'country': 'French Polynesia',
  'capital': 'Papeete',
  'latitude': -17.53333333,
  'longitude': -149.566667},
 {'country': 'Gabon',
  'capital': 'Libreville',
  'latitude': 0.383333333,
  'longitude': 9.45},
 {'country': 'Georgia',
  'capital': 'Tbilisi',
  'latitude': 41.68333333,
  'longitude': 44.833333},
 {'country': 'Germany',
  'capital': 'Berlin',
  'latitude': 52.51666667,
  'longitude': 13.4},
 {'country': 'Ghana',
  'capital': 'Accra',
  'latitude': 5.55,
  'longitude': -0.216667},
 {'country': 'Greece',
  'capital': 'Athens',
  'latitude': 37.98333333,
  'longitude': 23.733333},
 {'country': 'Grenada',
  'capital': 'Saint George’s',
  'latitude': 12.05,
  'longitude': -61.75},
 {'country': 'Guam',
  'capital': 'Hagatna',
  'latitude': 13.46666667,
  'longitude': 144.733333},
 {'country': 'Guatemala',
  'capital': 'Guatemala City',
  'latitude': 14.61666667,
  'longitude': -90.516667},
 {'country': 'Guinea',
  'capital': 'Conakry',
  'latitude': 9.5,
  'longitude': -13.7},
 {'country': 'Guinea-Bissau',
  'capital': 'Bissau',
  'latitude': 11.85,
  'longitude': -15.583333},
 {'country': 'Guyana',
  'capital': 'Georgetown',
  'latitude': 6.8,
  'longitude': -58.15},
 {'country': 'Haiti',
  'capital': 'Port-au-Prince',
  'latitude': 18.53333333,
  'longitude': -72.333333},
 {'country': 'Honduras',
  'capital': 'Tegucigalpa',
  'latitude': 14.1,
  'longitude': -87.216667},
 {'country': 'Hungary',
  'capital': 'Budapest',
  'latitude': 47.5,
  'longitude': 19.083333},
 {'country': 'Iceland',
  'capital': 'Reykjavik',
  'latitude': 64.15,
  'longitude': -21.95},
 {'country': 'India',
  'capital': 'New Delhi',
  'latitude': 28.6,
  'longitude': 77.2},
 {'country': 'Indonesia',
  'capital': 'Jakarta',
  'latitude': -6.166666667,
  'longitude': 106.816667},
 {'country': 'Iran',
  'capital': 'Tehran',
  'latitude': 35.7,
  'longitude': 51.416667},
 {'country': 'Iraq',
  'capital': 'Baghdad',
  'latitude': 33.33333333,
  'longitude': 44.4},
 {'country': 'Ireland',
  'capital': 'Dublin',
  'latitude': 53.31666667,
  'longitude': -6.233333},
 {'country': 'Israel',
  'capital': 'Jerusalem',
  'latitude': 31.76666667,
  'longitude': 35.233333},
 {'country': 'Italy',
  'capital': 'Rome',
  'latitude': 41.9,
  'longitude': 12.483333},
 {'country': 'Jamaica',
  'capital': 'Kingston',
  'latitude': 18.0,
  'longitude': -76.8},
 {'country': 'Japan',
  'capital': 'Tokyo',
  'latitude': 35.68333333,
  'longitude': 139.75},
 {'country': 'Jordan',
  'capital': 'Amman',
  'latitude': 31.95,
  'longitude': 35.933333},
 {'country': 'Kazakhstan',
  'capital': 'Astana',
  'latitude': 51.16666667,
  'longitude': 71.416667},
 {'country': 'Kenya',
  'capital': 'Nairobi',
  'latitude': -1.283333333,
  'longitude': 36.816667},
 {'country': 'Kuwait',
  'capital': 'Kuwait City',
  'latitude': 29.36666667,
  'longitude': 47.966667},
 {'country': 'Kyrgyzstan',
  'capital': 'Bishkek',
  'latitude': 42.86666667,
  'longitude': 74.6},
 {'country': 'Laos',
  'capital': 'Vientiane',
  'latitude': 17.96666667,
  'longitude': 102.6},
 {'country': 'Latvia',
  'capital': 'Riga',
  'latitude': 56.95,
  'longitude': 24.1},
 {'country': 'Lebanon',
  'capital': 'Beirut',
  'latitude': 33.86666667,
  'longitude': 35.5},
 {'country': 'Lesotho',
  'capital': 'Maseru',
  'latitude': -29.31666667,
  'longitude': 27.483333},
 {'country': 'Liberia',
  'capital': 'Monrovia',
  'latitude': 6.3,
  'longitude': -10.8},
 {'country': 'Libya',
  'capital': 'Tripoli',
  'latitude': 32.88333333,
  'longitude': 13.166667},
 {'country': 'Liechtenstein',
  'capital': 'Vaduz',
  'latitude': 47.13333333,
  'longitude': 9.516667},
 {'country': 'Lithuania',
  'capital': 'Vilnius',
  'latitude': 54.68333333,
  'longitude': 25.316667},
 {'country': 'Luxembourg',
  'capital': 'Luxembourg',
  'latitude': 49.6,
  'longitude': 6.116667},
 {'country': 'Madagascar',
  'capital': 'Antananarivo',
  'latitude': -18.91666667,
  'longitude': 47.516667},
 {'country': 'Malawi',
  'capital': 'Lilongwe',
  'latitude': -13.96666667,
  'longitude': 33.783333},
 {'country': 'Malaysia',
  'capital': 'Kuala Lumpur',
  'latitude': 3.166666667,
  'longitude': 101.7},
 {'country': 'Maldives',
  'capital': 'Male',
  'latitude': 4.166666667,
  'longitude': 73.5},
 {'country': 'Mali',
  'capital': 'Bamako',
  'latitude': 12.65,
  'longitude': -8.0},
 {'country': 'Malta',
  'capital': 'Valletta',
  'latitude': 35.88333333,
  'longitude': 14.5},
 {'country': 'Marshall Islands',
  'capital': 'Majuro',
  'latitude': 7.1,
  'longitude': 171.383333},
 {'country': 'Mauritania',
  'capital': 'Nouakchott',
  'latitude': 18.06666667,
  'longitude': -15.966667},
 {'country': 'Mauritius',
  'capital': 'Port Louis',
  'latitude': -20.15,
  'longitude': 57.483333},
 {'country': 'Mexico',
  'capital': 'Mexico City',
  'latitude': 19.43333333,
  'longitude': -99.133333},
 {'country': 'Moldova',
  'capital': 'Chisinau',
  'latitude': 47.0,
  'longitude': 28.85},
 {'country': 'Monaco',
  'capital': 'Monaco',
  'latitude': 43.73333333,
  'longitude': 7.416667},
 {'country': 'Mongolia',
  'capital': 'Ulaanbaatar',
  'latitude': 47.91666667,
  'longitude': 106.916667},
 {'country': 'Morocco',
  'capital': 'Rabat',
  'latitude': 34.01666667,
  'longitude': -6.816667},
 {'country': 'Mozambique',
  'capital': 'Maputo',
  'latitude': -25.95,
  'longitude': 32.583333},
 {'country': 'Namibia',
  'capital': 'Windhoek',
  'latitude': -22.56666667,
  'longitude': 17.083333},
 {'country': 'Nepal',
  'capital': 'Kathmandu',
  'latitude': 27.71666667,
  'longitude': 85.316667},
 {'country': 'Netherlands',
  'capital': 'Amsterdam',
  'latitude': 52.35,
  'longitude': 4.916667},
 {'country': 'New Caledonia',
  'capital': 'Noumea',
  'latitude': -22.26666667,
  'longitude': 166.45},
 {'country': 'New Zealand',
  'capital': 'Wellington',
  'latitude': -41.3,
  'longitude': 174.783333},
 {'country': 'Nicaragua',
  'capital': 'Managua',
  'latitude': 12.13333333,
  'longitude': -86.25},
 {'country': 'Niger',
  'capital': 'Niamey',
  'latitude': 13.51666667,
  'longitude': 2.116667},
 {'country': 'Nigeria',
  'capital': 'Abuja',
  'latitude': 9.083333333,
  'longitude': 7.533333},
 {'country': 'Norway',
  'capital': 'Oslo',
  'latitude': 59.91666667,
  'longitude': 10.75},
 {'country': 'Oman',
  'capital': 'Muscat',
  'latitude': 23.61666667,
  'longitude': 58.583333},
 {'country': 'Pakistan',
  'capital': 'Islamabad',
  'latitude': 33.68333333,
  'longitude': 73.05},
 {'country': 'Palau',
  'capital': 'Melekeok',
  'latitude': 7.483333333,
  'longitude': 134.633333},
 {'country': 'Panama',
  'capital': 'Panama City',
  'latitude': 8.966666667,
  'longitude': -79.533333},
 {'country': 'Papua New Guinea',
  'capital': 'Port Moresby',
  'latitude': -9.45,
  'longitude': 147.183333},
 {'country': 'Paraguay',
  'capital': 'Asuncion',
  'latitude': -25.26666667,
  'longitude': -57.666667},
 {'country': 'Peru',
  'capital': 'Lima',
  'latitude': -12.05,
  'longitude': -77.05},
 {'country': 'Philippines',
  'capital': 'Manila',
  'latitude': 14.6,
  'longitude': 120.966667},
 {'country': 'Poland',
  'capital': 'Warsaw',
  'latitude': 52.25,
  'longitude': 21.0},
 {'country': 'Portugal',
  'capital': 'Lisbon',
  'latitude': 38.71666667,
  'longitude': -9.133333},
 {'country': 'Puerto Rico',
  'capital': 'San Juan',
  'latitude': 18.46666667,
  'longitude': -66.116667},
 {'country': 'Qatar',
  'capital': 'Doha',
  'latitude': 25.28333333,
  'longitude': 51.533333},
 {'country': 'Romania',
  'capital': 'Bucharest',
  'latitude': 44.43333333,
  'longitude': 26.1},
 {'country': 'Russia',
  'capital': 'Moscow',
  'latitude': 55.75,
  'longitude': 37.6},
 {'country': 'Rwanda',
  'capital': 'Kigali',
  'latitude': -1.95,
  'longitude': 30.05},
 {'country': 'Saint Helena',
  'capital': 'Jamestown',
  'latitude': -15.93333333,
  'longitude': -5.716667},
 {'country': 'Saint Lucia',
  'capital': 'Castries',
  'latitude': 14.0,
  'longitude': -61.0},
 {'country': 'Saint Vincent and the Grenadines',
  'capital': 'Kingstown',
  'latitude': 13.13333333,
  'longitude': -61.216667},
 {'country': 'Samoa',
  'capital': 'Apia',
  'latitude': -13.81666667,
  'longitude': -171.766667},
 {'country': 'San Marino',
  'capital': 'San Marino',
  'latitude': 43.93333333,
  'longitude': 12.416667},
 {'country': 'Saudi Arabia',
  'capital': 'Riyadh',
  'latitude': 24.65,
  'longitude': 46.7},
 {'country': 'Senegal',
  'capital': 'Dakar',
  'latitude': 14.73333333,
  'longitude': -17.633333},
 {'country': 'Seychelles',
  'capital': 'Victoria',
  'latitude': -4.616666667,
  'longitude': 55.45},
 {'country': 'Sierra Leone',
  'capital': 'Freetown',
  'latitude': 8.483333333,
  'longitude': -13.233333},
 {'country': 'Singapore',
  'capital': 'Singapore',
  'latitude': 1.283333333,
  'longitude': 103.85},
 {'country': 'Slovenia',
  'capital': 'Ljubljana',
  'latitude': 46.05,
  'longitude': 14.516667},
 {'country': 'Somalia',
  'capital': 'Mogadishu',
  'latitude': 2.066666667,
  'longitude': 45.333333},
 {'country': 'South Africa',
  'capital': 'Pretoria',
  'latitude': -25.7,
  'longitude': 28.216667},
 {'country': 'Spain',
  'capital': 'Madrid',
  'latitude': 40.4,
  'longitude': -3.683333},
 {'country': 'Sri Lanka',
  'capital': 'Colombo',
  'latitude': 6.916666667,
  'longitude': 79.833333},
 {'country': 'Sudan',
  'capital': 'Khartoum',
  'latitude': 15.6,
  'longitude': 32.533333},
 {'country': 'Suriname',
  'capital': 'Paramaribo',
  'latitude': 5.833333333,
  'longitude': -55.166667},
 {'country': 'Swaziland',
  'capital': 'Mbabane',
  'latitude': -26.31666667,
  'longitude': 31.133333},
 {'country': 'Sweden',
  'capital': 'Stockholm',
  'latitude': 59.33333333,
  'longitude': 18.05},
 {'country': 'Switzerland',
  'capital': 'Bern',
  'latitude': 46.91666667,
  'longitude': 7.466667},
 {'country': 'Syria',
  'capital': 'Damascus',
  'latitude': 33.5,
  'longitude': 36.3},
 {'country': 'Taiwan',
  'capital': 'Taipei',
  'latitude': 25.03333333,
  'longitude': 121.516667},
 {'country': 'Tajikistan',
  'capital': 'Dushanbe',
  'latitude': 38.55,
  'longitude': 68.766667},
 {'country': 'Tanzania',
  'capital': 'Dar es Salaam',
  'latitude': -6.8,
  'longitude': 39.283333},
 {'country': 'Thailand',
  'capital': 'Bangkok',
  'latitude': 13.75,
  'longitude': 100.516667},
 {'country': 'Togo',
  'capital': 'Lome',
  'latitude': 6.116666667,
  'longitude': 1.216667},
 {'country': 'Tonga',
  'capital': 'Nuku’alofa',
  'latitude': -21.13333333,
  'longitude': -175.2},
 {'country': 'Tunisia',
  'capital': 'Tunis',
  'latitude': 36.8,
  'longitude': 10.183333},
 {'country': 'Turkey',
  'capital': 'Ankara',
  'latitude': 39.93333333,
  'longitude': 32.866667},
 {'country': 'Turkmenistan',
  'capital': 'Ashgabat',
  'latitude': 37.95,
  'longitude': 58.383333},
 {'country': 'Uganda',
  'capital': 'Kampala',
  'latitude': 0.316666667,
  'longitude': 32.55},
 {'country': 'Ukraine',
  'capital': 'Kyiv',
  'latitude': 50.43333333,
  'longitude': 30.516667},
 {'country': 'United Arab Emirates',
  'capital': 'Abu Dhabi',
  'latitude': 24.46666667,
  'longitude': 54.366667},
 {'country': 'United Kingdom',
  'capital': 'London',
  'latitude': 51.5,
  'longitude': -0.083333},
 {'country': 'United States',
  'capital': 'Washington, D.C.',
  'latitude': 38.883333,
  'longitude': -77.0},
 {'country': 'Uruguay',
  'capital': 'Montevideo',
  'latitude': -34.85,
  'longitude': -56.166667},
 {'country': 'Uzbekistan',
  'capital': 'Tashkent',
  'latitude': 41.31666667,
  'longitude': 69.25},
 {'country': 'Vanuatu',
  'capital': 'Port-Vila',
  'latitude': -17.73333333,
  'longitude': 168.316667},
 {'country': 'Venezuela',
  'capital': 'Caracas',
  'latitude': 10.48333333,
  'longitude': -66.866667},
 {'country': 'Vietnam',
  'capital': 'Hanoi',
  'latitude': 21.03333333,
  'longitude': 105.85},
 {'country': 'Yemen',
  'capital': 'Sanaa',
  'latitude': 15.35,
  'longitude': 44.2},
 {'country': 'Zambia',
  'capital': 'Lusaka',
  'latitude': -15.41666667,
  'longitude': 28.283333},
 {'country': 'Zimbabwe',
  'capital': 'Harare',
  'latitude': -17.81666667,
  'longitude': 31.033333}]